@{
    ViewData["Title"] = "Home Page";
}
<div id="home" class="text-center">
    <h1 class="display-4">Vue.js + ASP.NET Core</h1>
    <HelloWorld msg="Message from Vue.js"></HelloWorld>
</div>

@section scripts {
    <script src="~/bundles/home.js" asp-append-version="true"></script>
}
